include layout

block extrahead
  link(rel="stylesheet", href="css/style.css")
  script(src='/socket.io/socket.io.js')

block content 
    h1 Chat #{username}

    #userListContainer
        h2 Connected users
        ul#userList
    
    #chatBox
        input#messageInput(type="text", name="message")
        input#sendBtn(type="button", value="Send")
    
    #chatLog

    script.
      let userName;
      if ('#{username}' !== '') {
        userName = '#{username}'
      }

    script(src="js/chat.js")
