include layout

block extrahead
  link(rel="stylesheet", href="css/style.css")
  script(src='/socket.io/socket.io.js')

block content 
    h1 Chat #{username}

    #chatBox
        input#messageInput(type="text", name="message")
        input#sendBtn(type="button", value="Send")

    
    #chatLog

    script.
      const userName = '#{username}'

    script(src="js/chat.js")
