include layout

block extrahead
  script(src='/socket.io/socket.io.js')

block content 
    h1 Hello #{username}

    h2 Connected users
    ul#userList
    input#messageInput(type="text", name="message")
    input#sendBtn(type="button", value="Send")
    #chatLog

    script.
      let userName;
      if ('#{username}' !== '') {
        userName = '#{username}'
      }

    script(src="js/chat.js")
