include layout

block extrahead
  link(rel="stylesheet", href="css/style.css")

block content
    h1#welcome Welcome 
      span#subh1 to the chat!
    #center
      form(action="/", method="post")
        p#submitUsernameInput
          //- label(for="username") Username
          input(type="text", name="username", placeholder="choose username!")
        p#submitUsernameButton
          input(type="submit", value="START")